body
  color #000

#login-dropdown-list
  position absolute
  top 4px
  right 12px
  left auto
  
  a.login-close-text
    float right

#lb_id_containing_box a.observatory_trigger
  width 32px

.link
  pointer cursor